@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&family=Happy+Monkey&display=swap");

@theme {
  --font-roboto: "Roboto Flex", "sans-serif";
  --font-happyMonkey: "Happy Monkey", "cursive";
  --breakpoint-3xl: 1920px;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  --color-klein-900: #002fa7;
  --color-klein-600: #0050ff;
  --color-stack-200: #cacac5;
  --color-stack-400: #898980;
  --color-canary-300: #e8fe63;
  --color-canary-400: #d5f526;
  --color-canary-500: #b7db07;
  --color-whitish: #fefefe;
  --color-dark: #252525;
}

@layer components {
  .heading1 {
    @apply text-3xl  sm:text-4xl md:text-6xl lg:text-6xl font-bold;
  }
  .heading2 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-4xl font-bold;
  }
  .heading3 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-3xl;
  }
  .heading4 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-2xl;
  }

  .heading5 {
    @apply text-sm sm:text-lg md:text-xl lg:text-xl;
  }

  .p {
    @apply text-lg;
  }
  .btn {
    @apply gap-2 bg-canary-300 text-klein-900 font-semibold py-2 px-8 rounded-full cursor-pointer hover:bg-canary-400;
  }

  .roundIcon {
    @apply rounded-full w-13 h-13 text-xl  flex items-center justify-center;
  }

  .detail-subtitle {
    @apply font-bold text-klein-900 text-center mb-12;
  }

  .detail-card-title {
    @apply font-bold text-center mb-8 bg-klein-900 text-whitish px-6 py-2 rounded-full inline-block mx-auto;
  }
}
